.reveal {
    h1 {
        margin-bottom: 60px;
    }
    h2 {
        margin-bottom: 50px;
    }
    h3 {
        margin-bottom: 40px;
    }
    ul {
        &+h3,&+h4 {
            margin-top: 30px;
        }
    }
}
